name: Test rst2zsh extraction

on:
  push:
    branches:
      - main
  pull_request:

permissions:
  contents: read

jobs:
  changes:
    name: Detect changes
    runs-on: ubuntu-latest
    outputs:
      test: ${{ steps.filter.outputs.test }}
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
      - name: Check for file changes
        uses: dorny/paths-filter@de90cc6fb38fc0963ad72b210f1f284cd68cea36 # v3.0.2
        id: filter
        with:
          filters: |
            test:
              - .github/workflows/extraction.yml
              - sections/rst2zsh/*.rst
              - requirements.txt
              - rst2zsh.rst

  test_extraction:
    name: Run Ninja build and test extraction
    needs: changes
    if: needs.changes.outputs.test == 'true'
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - name: Prepare Debian environment
        run: |
          # We don't need man-db updates for throwaway installs
          echo "set man-db/auto-update false" | sudo debconf-communicate
          sudo dpkg-reconfigure man-db

      - name: Install Debian dependencies
        run: sudo eatmydata apt-get install -qq ninja-build zsh

      - name: Run build
        run: ninja

      - name: Verify rst2zsh output
        run: |
          tmpfile=$(mktemp)
          tools/rst2zsh rst2zsh.rst $tmpfile
          diff -u tools/rst2zsh $tmpfile
