name: Lint reStructuredText files

on:
  push:
    branches:
      - main
  pull_request:

permissions:
  contents: read

jobs:
  changes:
    name: Detect changes
    runs-on: ubuntu-latest
    outputs:
      lint: ${{ steps.filter.outputs.lint }}
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
      - name: Check for file changes
        uses: dorny/paths-filter@de90cc6fb38fc0963ad72b210f1f284cd68cea36 # v3.0.2
        id: filter
        with:
          filters: |
            lint:
              - .github/workflows/rstlint.yml
              - conf.py
              - requirements.txt
              - requirements-lint.txt
              - "**.rst"

  lint:
    name: Run Sphinx dummy build
    needs: changes
    if: needs.changes.outputs.lint == 'true'
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.13"]
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - name: Install uv
        uses: astral-sh/setup-uv@eac588ad8def6316056a12d4907a9d4d84ff7a3b # v7.3.0
        with:
          python-version: ${{ matrix.python-version }}
          version: 0.9.2
          activate-environment: true
          cache-dependency-glob: |
            requirements.txt
            requirements-lint.txt

      - name: Install dependencies
        run: uv sync --active --no-install-project --group lint

      - name: Run linter
        run: |
          uv run rst-lint README.rst

      - name: Run Sphinx dummy build to check for errors
        run: |
          uv run sphinx-build --fail-on-warning --keep-going \
            --doctree-dir build/doctrees --builder dummy . _build/dummy
