name: Check spelling

on:
  push:
    branches:
      - main
  pull_request:

permissions:
  contents: read

jobs:
  changes:
    name: Detect changes
    runs-on: ubuntu-latest
    outputs:
      build: ${{ steps.filter.outputs.build }}
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
      - name: Check for file changes
        uses: dorny/paths-filter@de90cc6fb38fc0963ad72b210f1f284cd68cea36 # v3.0.2
        id: filter
        with:
          filters: |
            build:
              - .github/workflows/spelling.yml
              - conf.py
              - requirements.txt
              - "**.rst"

  build:
    name: Run Sphinx spelling build
    needs: changes
    if: needs.changes.outputs.build == 'true'
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.13"]
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - name: Install uv
        uses: astral-sh/setup-uv@61cb8a9741eeb8a550a1b8544337180c0fc8476b # v7.2.0
        with:
          python-version: ${{ matrix.python-version }}
          version: 0.9.2
          activate-environment: true
          cache-dependency-glob: requirements.txt

      - name: Install dependencies
        run: |
          # We don't need man-db updates for throwaway installs
          echo "set man-db/auto-update false" | sudo debconf-communicate
          sudo dpkg-reconfigure man-db
          sudo eatmydata apt-get install -qq enchant-2 hunspell-en-gb
          uv sync --active --no-install-project --group lint

      - name: Run Sphinx spelling build
        # Use --quiet as in this job we only need spelling results, not generic
        # Sphinx output that would be seen in HTML jobs.
        run: |
          uv run sphinx-build --quiet --fail-on-warning --keep-going \
            --doctree-dir build/doctrees --builder spelling . _build/spelling |&
            sed 's|^WARNING: \([^:]\+\):\([0-9]\+\): : Spell check: \(.\+\)|::error file=\1,line=\2::\3|'
