name: Scan with zizmor

on:
  push:
    branches:
      - main
  pull_request:

permissions: {}

jobs:
  changes:
    name: Detect changes
    runs-on: ubuntu-latest
    outputs:
      zizmor: ${{ steps.filter.outputs.zizmor }}
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
      - name: Check for file changes
        uses: dorny/paths-filter@de90cc6fb38fc0963ad72b210f1f284cd68cea36 # v3.0.2
        id: filter
        with:
          filters: |
            zizmor:
              - .github/workflows/*.yml

  zizmor:
    needs: changes
    if: needs.changes.outputs.zizmor == 'true'
    runs-on: ubuntu-latest
    permissions:
      contents: read # Only needed for private repos
      actions: read # Only needed for private repos
    steps:
      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - name: Run zizmor
        uses: zizmorcore/zizmor-action@0dce2577a4760a2749d8cfb7a84b7d5585ebcb7d # v0.5.0
        with:
          advanced-security: false
          annotations: true
